.heading {
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px greenyellow;
}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
}

canvas {
    border: 5px solid rgba(136, 100, 237, 0.808);
    border-radius: 10px;
    box-shadow: 5px 5px 5px greenyellow;
}

body
{
    background-size:  cover;
    background-position: center;
}